<meta charset="UTF-8">
<title>EHR Management</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- scripts included on all pages -->
<script src='/js/jquery.min.js' type='text/javascript' defer></script>
<script src='/js/script.js' type='text/javascript' defer></script>