<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../part/head'); %>
</head>
<body class="container">

<header>
  <%- include('../part/header'); %>
</header>

<main>
  <div class="wrapper">
        <form action='/login' method="POST" class="login">
          <p class="title">Login</p>
          <input type="text" name="username" placeholder="Nom d'utilisateur" required autofocus/>
          <i class="fa fa-user"></i>
          <input type="password" name="password" placeholder="Mot de passe" required />
          <i class="fa fa-key"></i>
          <a href="#">Password forgot ?</a> <br />
          <a href="/signup">You don't have an account ?</a>
          <button type="submit">
          <span>Connexion</span>
          </button>
        </form>
  </div>

</main>

<footer>
  <%- include('../part/footer'); %>
</footer>

<style>
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 10%;
}


.login {
border-radius: 2px 2px 5px 5px;
padding: 10px 20px 20px 20px;
width: 90%;
max-width: 320px;
background: #ffffff;
position: relative;
padding-bottom: 80px;
box-shadow: 0px 1px 5px gray;
}

input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: gray;
}

a {
    font-size: 0.8em;   
        color: gray;
        text-decoration: none;
    }

.title {
    color: grey;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    }

button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: gray;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;

}
</style>

</body>

<script>
</script>
</html>