<meta charset="UTF-8">
<title>EHR Management</title>
<!-- styles included on all pages -->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">

<!-- scripts included on all pages -->
<script src='/js/jquery.min.js' type='text/javascript' defer></script>
<script src='/js/script.js' type='text/javascript' defer></script>